
@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Bold.eot');
    src: url('Aileron-Bold.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Bold.woff2') format('woff2'),
         url('Aileron-Bold.woff') format('woff'),
         url('Aileron-Bold.ttf') format('truetype'),
         url('Aileron-Bold.svg#aileronbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-BoldItalic.eot');
    src: url('Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Aileron-BoldItalic.woff2') format('woff2'),
         url('Aileron-BoldItalic.woff') format('woff'),
         url('Aileron-BoldItalic.ttf') format('truetype'),
         url('Aileron-BoldItalic.svg#aileronbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Italic.eot');
    src: url('Aileron-Italic.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Italic.woff2') format('woff2'),
         url('Aileron-Italic.woff') format('woff'),
         url('Aileron-Italic.ttf') format('truetype'),
         url('Aileron-Italic.svg#aileronitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Regular.eot');
    src: url('Aileron-Regular.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Regular.woff2') format('woff2'),
         url('Aileron-Regular.woff') format('woff'),
         url('Aileron-Regular.ttf') format('truetype'),
         url('Aileron-Regular.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font: 16px/24px Aileron, Helmet, Freesans, sans-serif;
}

ul, ol, dl {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 200%;
	margin-top: 2em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid #800000;
}

h3 {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h1, h3, p, ol, ul, dl {
	padding-left: 16px;
	padding-right: 16px;
}

ul.news li {
	padding-left: 2em;
}
ul.news li span.date {
	color: #888;
	margin-left: -2em;
}
ul.news li span.date:after {
	content: " •";
}

body, select, input, textarea {color: #333;}

a {color: #800000;}
a:hover {color: #550000;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #ff8080; color: #fff; text-shadow: none;}
::selection {background: #ff8080; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */<F2>
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #ff8080; color: #000; text-decoration: none;}
mark {background-color: #ff8080; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

div.wrapper {
	width: 720px;
	margin: 0 auto;
}

header {
	background: url(hipack-logo-full.png) 0.75em 50% no-repeat;
	border-bottom: 3px solid #800000;
	height: 100px;
}


header h1 {
	float: left;
}

header nav {
	float: right;
}

header nav ol {
	text-align: right;
	height: 100%;
	margin: 0;
	padding: 0;
}

header nav li {
	display: block;
	float: left;
}

header nav a {
	text-decoration: none;
	font-size: 22px;
	padding-top: 50px;
	padding-left: 0.75em;
	padding-right: 0.75em;
	height: 100px;
	display: block;
	border-bottom: 3px solid #800000;
}

header nav a:hover {
	background-color: #C53333;
	color: #330000;
}


footer {
	clear: both;
	margin: 2em 0;
	padding-top: 5em;
	padding-bottom: 1em;
	font-size: 80%;
	text-align: center;
	color: #ccc;
}


article {
	clear: both;
}


/* Column system
-------------------------------------------------------------------------------*/
.column-30 { width: 30%; }
.column-50 { width: 50%; }
.column-70 { width: 70%; }
.column-left { float: left; }
.column-right { float: right; }
.column-flush { clear: both; }


/* Columns of the about blurb
-------------------------------------------------------------------------------*/
#about-blurb-container {
	background: #330000;
	border-bottom: 3px solid #800000;
}

#about-blurb-container .column-left {
	background: #5a0000;
	color: #ffefef;
	padding: 1em 0;
}

#about-blurb-container .column-left {
}


/* Styling for the language support list
-------------------------------------------------------------------------------*/

dl.tagged-list > dt {
	display: inline;
	font-weight: bold;
	padding: 0.3em 0.5em;
	background: #5a0000;
	color: #ff8080;
	border-radius: 5px;
	margin-right: 0.5em;
}

dl.tagged-list dt span.tag {
	color: #5a0000;
	background: #ff8080;
	border-radius: 2px;
	padding: 0.05em 0.2em;
	margin-left: 0.2em;
	font-size: 90%;
}
dl.tagged-list dt:first-child span.tag {
	margin-left: 0.5em;
}
dl.tagged-list > dd {
	display: inline;
}

dl.tagged-list > dd > span {
	margin: 0.5em 1em 1em 1em;
	display: block;
}

#try-convert {
	width: 100%;
}

#try-convert textarea {
	background-color: #ffefef;
	font-family: monospace;
	width: 49%;
	height: 320px;
	margin: 0;
	padding: 0.25em;
	border: 2px solid #800000;
	border-radius: 3px;
}

#try-convert-button {
	background: #ffefef;
	color: #5a0000;
	margin: 0.5em 0 0 0;
	padding: 0.25em 1em;
	font-size: 150%;
	border: 3px solid #a00000;
	border-radius: 7px;
}

#try-convert-button:hover {
	border-color: #ff8080;
}

#try-convert-button:active {
	border-color: #888;
	color: #888;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {
}
